.title {
  color: #fff;
  font-size: 18px;
  margin-right: 12px;
}

.main {
  color: inherit;
  min-height: calc(100vh - 64px);
}

.header {
  padding: 0 20px;
  display: flex;
}

.content {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 20px;
}

.nav {
  text-align: center;
}

.nav a {
  margin-left: 8px;
  font-size: 14px;
}
